@{
    Layout = "_Estilo";
}

<section class="content-header">
    <div class="row">

        <div class="col-md-12">
            <div class="error-page ">
                <h2 class="headline text-warning"> 404</h2>

                <div class="error-content">
                    <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! No se encontró la Página.</h3>

                    <p>
                        No pudimos encontrar la página que estabas buscando... por favor verifique.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>