@model Tracker.DTOs.UsuarioDTO
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}


<section class="content-header">
    <div class="col-md-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <b>Crear Usuario </b>
                <div class="card-tools">
                    <a class="btn btn-tool" title="Ir al Inicio" asp-area="" asp-controller="Home" asp-action="Index">  <i class="nav-icon fas fa-home"></i></a>
                    <a class="btn btn-tool" title="Atras" onclick="history.go(-1); return false;" href="#">  <i class="fas fa-arrow-alt-circle-left"></i></a>

                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body ">
                <form asp-action="Create" onsubmit="disableButtonOnSubmit(this)">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Nombre"></label>
                                <input asp-for="Nombre" class="form-control" autofocus autocomplete="off" />
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Correo"></label>
                                <input asp-for="Correo" class="form-control" autocomplete="off" />
                                <span asp-validation-for="Correo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Password "></label>
                                    <input asp-for="Password" class="form-control" autocomplete="new-password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword"></label>
                                    <input asp-for="ConfirmPassword" class="form-control" autocomplete="off" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="IdRolesSel" class="control-label"></label>
                                <select multiple size="5" asp-for="IdRolesSel" class="form-control" asp-items="ViewBag.IdRoles"></select>
                                <span asp-validation-for="IdRolesSel" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class=" card-footer text-right col-12">
                            <button type="submit" value="Aceptar" class="btn btn-success"> <i class="far fa-save"></i> Guardar </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>