USE [Tracker_Prod]
GO
/****** Object:  Table [dbo].[Transportistas]    Script Date: 14/04/2025 14:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transportistas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [decimal](18, 2) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Direccion] [nvarchar](max) NOT NULL,
	[EstadoId] [int] NOT NULL,
	[Coordenadas] [nvarchar](max) NULL,
 CONSTRAINT [PK_Transportistas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwTransportistas]    Script Date: 14/04/2025 14:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vwTransportistas]
AS
	SELECT IDPROVLOGI, tl.CODIGO, tl.CODOPERA, tl.NOMBRE, ACTIVO, t.Direccion, t.EstadoId, t.Coordenadas
	FROM Presea_MAS_Migracion.dbo.PROVLOGI tl
		LEFT JOIN Transportistas t on t.Codigo =tl.CODIGO 

GO
/****** Object:  View [dbo].[vwEnvios]    Script Date: 14/04/2025 14:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE    VIEW [dbo].[vwEnvios]
AS
	SELECT IDENVIO, NUMENVIO, EMPRESA, OBSERVACIO, FECINGRE
	FROM [Presea_Mas_Migracion].[dbo].[ENVIO] 
GO
/****** Object:  View [dbo].[vwGuias]    Script Date: 14/04/2025 14:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE    VIEW [dbo].[vwGuias]
AS
	SELECT IDGUIA, NUMENVIO as NumeroEnvio, NUMGUIA as NumeroGuia, FECHAHORA as FechaHora, FECHENVIO as FechaEnvio, guia.PROVLOGI, 
		guia.OPERADOR as Operador, guia.OPERENVIO as OperadorEnvio, 
		cli.CODIGO as  ClienteCodigo,  case  isnull(cli.N_FANTASIA, cli.NOMBRE) when '' then cli.NOMBRE else cli.N_FANTASIA end as Cliente,  cli.DOMICILIO as  ClienteDomicilio, cli.TELEFONO as ClienteTelefono, cli.E_MAIL as ClienteEmail, 

		 (select isnull(count (*),0) from [Presea_Mas_Migracion].[dbo].[CTACTE] cta where cta.numguia = guia.NUMGUIA) as CantidadComprobantes
	FROM [Presea_Mas_Migracion].[dbo].[GUIA] guia
		inner join [Presea_Mas_Migracion].[dbo].CLIENTES cli on cli.CODIGO = guia.CLIENTE 
GO
/****** Object:  Table [dbo].[Choferes]    Script Date: 14/04/2025 14:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Choferes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApellidoNombre] [nvarchar](max) NOT NULL,
	[Legajo] [nvarchar](max) NOT NULL,
	[Observacion] [nvarchar](max) NULL,
	[Telefono] [nvarchar](max) NULL,
	[Dni] [nvarchar](max) NOT NULL,
	[EstadoId] [int] NOT NULL,
	[Baja] [bit] NOT NULL,
 CONSTRAINT [PK_Choferes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Envios]    Script Date: 14/04/2025 14:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Envios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Numero] [bigint] NOT NULL,
	[TransportistaCodigo] [decimal](18, 2) NOT NULL,
	[FechaInicio] [datetime2](7) NULL,
	[FechaTurno] [datetime2](7) NULL,
	[FechaUltimoMov] [datetime2](7) NULL,
	[EstadoId] [int] NULL,
	[UsuarioId] [int] NOT NULL,
	[UsuarioUltimoMovId] [int] NULL,
	[Observaciones] [nvarchar](max) NULL,
	[ChoferId] [int] NULL,
	[VehiculoId] [int] NULL,
	[TransportistaDestinoCodigo] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Envios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnviosAudit]    Script Date: 14/04/2025 14:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnviosAudit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[Envio] [bigint] NOT NULL,
	[Guia] [bigint] NOT NULL,
	[Usuario] [nvarchar](max) NOT NULL,
	[Observacion] [nvarchar](max) NOT NULL,
	[EstadoId] [int] NOT NULL,
	[Direccion] [nvarchar](max) NULL,
 CONSTRAINT [PK_EnviosAudit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnviosGuias]    Script Date: 14/04/2025 14:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnviosGuias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Numero] [bigint] NOT NULL,
	[EnvioId] [int] NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[EstadoId] [int] NULL,
 CONSTRAINT [PK_EnviosGuias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menues]    Script Date: 14/04/2025 14:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuPadreId] [int] NOT NULL,
	[Item] [nvarchar](max) NOT NULL,
	[AspController] [nvarchar](max) NOT NULL,
	[AspAction] [nvarchar](max) NULL,
	[Icono] [nvarchar](max) NULL,
	[Orden] [int] NOT NULL,
	[Baja] [bit] NOT NULL,
	[AccesoDirecto] [bit] NOT NULL,
 CONSTRAINT [PK_Menues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuesRoles]    Script Date: 14/04/2025 14:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuesRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuId] [int] NOT NULL,
	[RolId] [int] NOT NULL,
 CONSTRAINT [PK_MenuesRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parametricos]    Script Date: 14/04/2025 14:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parametricos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](max) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Valor] [nvarchar](max) NULL,
	[Orden] [int] NOT NULL,
	[Baja] [bit] NOT NULL,
	[Color] [nvarchar](max) NULL,
	[ParametricosHeaderId] [int] NOT NULL,
 CONSTRAINT [PK_Parametricos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParametricosHeader]    Script Date: 14/04/2025 14:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParametricosHeader](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Baja] [bit] NOT NULL,
 CONSTRAINT [PK_ParametricosHeader] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 14/04/2025 14:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Baja] [bit] NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Clave] [nvarchar](max) NOT NULL,
	[Correo] [nvarchar](max) NOT NULL,
	[FlgAdmin] [bit] NOT NULL,
	[FechaUltimoIngreso] [datetime2](7) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosRoles]    Script Date: 14/04/2025 14:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[RolId] [int] NOT NULL,
 CONSTRAINT [PK_UsuariosRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculos]    Script Date: 14/04/2025 14:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Patente] [nvarchar](max) NOT NULL,
	[TipoId] [int] NULL,
	[EstadoId] [int] NOT NULL,
 CONSTRAINT [PK_Vehiculos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Choferes]  WITH CHECK ADD  CONSTRAINT [FK_Choferes_Parametricos_EstadoId] FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Parametricos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Choferes] CHECK CONSTRAINT [FK_Choferes_Parametricos_EstadoId]
GO
ALTER TABLE [dbo].[Envios]  WITH CHECK ADD  CONSTRAINT [FK_Envios_Choferes_ChoferId] FOREIGN KEY([ChoferId])
REFERENCES [dbo].[Choferes] ([Id])
GO
ALTER TABLE [dbo].[Envios] CHECK CONSTRAINT [FK_Envios_Choferes_ChoferId]
GO
ALTER TABLE [dbo].[Envios]  WITH CHECK ADD  CONSTRAINT [FK_Envios_Parametricos_EstadoId] FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Parametricos] ([Id])
GO
ALTER TABLE [dbo].[Envios] CHECK CONSTRAINT [FK_Envios_Parametricos_EstadoId]
GO
ALTER TABLE [dbo].[Envios]  WITH CHECK ADD  CONSTRAINT [FK_Envios_Usuarios_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Envios] CHECK CONSTRAINT [FK_Envios_Usuarios_UsuarioId]
GO
ALTER TABLE [dbo].[Envios]  WITH CHECK ADD  CONSTRAINT [FK_Envios_Usuarios_UsuarioUltimoMovId] FOREIGN KEY([UsuarioUltimoMovId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Envios] CHECK CONSTRAINT [FK_Envios_Usuarios_UsuarioUltimoMovId]
GO
ALTER TABLE [dbo].[Envios]  WITH CHECK ADD  CONSTRAINT [FK_Envios_Vehiculos_VehiculoId] FOREIGN KEY([VehiculoId])
REFERENCES [dbo].[Vehiculos] ([Id])
GO
ALTER TABLE [dbo].[Envios] CHECK CONSTRAINT [FK_Envios_Vehiculos_VehiculoId]
GO
ALTER TABLE [dbo].[EnviosAudit]  WITH CHECK ADD  CONSTRAINT [FK_EnviosAudit_Parametricos_EstadoId] FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Parametricos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EnviosAudit] CHECK CONSTRAINT [FK_EnviosAudit_Parametricos_EstadoId]
GO
ALTER TABLE [dbo].[EnviosGuias]  WITH CHECK ADD  CONSTRAINT [FK_EnviosGuias_Envios_EnvioId] FOREIGN KEY([EnvioId])
REFERENCES [dbo].[Envios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EnviosGuias] CHECK CONSTRAINT [FK_EnviosGuias_Envios_EnvioId]
GO
ALTER TABLE [dbo].[EnviosGuias]  WITH CHECK ADD  CONSTRAINT [FK_EnviosGuias_Parametricos_EstadoId] FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Parametricos] ([Id])
GO
ALTER TABLE [dbo].[EnviosGuias] CHECK CONSTRAINT [FK_EnviosGuias_Parametricos_EstadoId]
GO
ALTER TABLE [dbo].[MenuesRoles]  WITH CHECK ADD  CONSTRAINT [FK_MenuesRoles_Menues_MenuId] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menues] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MenuesRoles] CHECK CONSTRAINT [FK_MenuesRoles_Menues_MenuId]
GO
ALTER TABLE [dbo].[MenuesRoles]  WITH CHECK ADD  CONSTRAINT [FK_MenuesRoles_Parametricos_RolId] FOREIGN KEY([RolId])
REFERENCES [dbo].[Parametricos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MenuesRoles] CHECK CONSTRAINT [FK_MenuesRoles_Parametricos_RolId]
GO
ALTER TABLE [dbo].[Parametricos]  WITH CHECK ADD  CONSTRAINT [FK_Parametricos_ParametricosHeader_ParametricosHeaderId] FOREIGN KEY([ParametricosHeaderId])
REFERENCES [dbo].[ParametricosHeader] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Parametricos] CHECK CONSTRAINT [FK_Parametricos_ParametricosHeader_ParametricosHeaderId]
GO
ALTER TABLE [dbo].[Transportistas]  WITH CHECK ADD  CONSTRAINT [FK_Transportistas_Parametricos_EstadoId] FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Parametricos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transportistas] CHECK CONSTRAINT [FK_Transportistas_Parametricos_EstadoId]
GO
ALTER TABLE [dbo].[UsuariosRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosRoles_Parametricos_RolId] FOREIGN KEY([RolId])
REFERENCES [dbo].[Parametricos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuariosRoles] CHECK CONSTRAINT [FK_UsuariosRoles_Parametricos_RolId]
GO
ALTER TABLE [dbo].[UsuariosRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosRoles_Usuarios_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuariosRoles] CHECK CONSTRAINT [FK_UsuariosRoles_Usuarios_UsuarioId]
GO
ALTER TABLE [dbo].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculos_Parametricos_EstadoId] FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Parametricos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vehiculos] CHECK CONSTRAINT [FK_Vehiculos_Parametricos_EstadoId]
GO
ALTER TABLE [dbo].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculos_Parametricos_TipoId] FOREIGN KEY([TipoId])
REFERENCES [dbo].[Parametricos] ([Id])
GO
ALTER TABLE [dbo].[Vehiculos] CHECK CONSTRAINT [FK_Vehiculos_Parametricos_TipoId]
GO
/****** Object:  StoredProcedure [dbo].[EnviosGet]    Script Date: 14/04/2025 14:51:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[EnviosGet] 
@desde date = null,
@hasta date = null, 
@numero bigint = 0, 
@guiaNumero bigint = 0, 
@estado int = null,
@pageSize int = 10,
@skip int = 0
as
	
	SELECT 
		e.NUMENVIO as Numero, 
		t.Codigo as TransportistaCodigo, t.Nombre as Transportista, 
		co.ApellidoNombre as Chofer, co.Id as ChoferId,
		v.Id as VehiculoId, v.Patente, v.Descripcion as Vehiculo,  tipoVehiculo.id as VehiculoTipoId,  tipoVehiculo.Descripcion as VehiculoTipo,
		deEstado.Descripcion as Estado, deEstado.Color as EstadoColor, deEstado.id as EstadoId,
		de.Id as EnvioId, de.Observaciones, de.FechaInicio, de.FechaTurno, de.FechaUltimoMov, 
		(select count(*) from dbo.vwGuias where NumeroEnvio = e.NUMENVIO) as CantidadGuias,
		de.TransportistaDestinoCodigo, tDestino.Nombre as TransportistaDestino,
		RecordsTotal = COUNT(*) OVER(), --para el paginador
		ROW_NUMBER() OVER(ORDER BY e.NUMENVIO ASC) AS Id -- esto es porque lo necesita el Entity Framework
	FROM dbo.vwEnvios e
		LEFT JOIN  dbo.vwGuias g on g.NumeroEnvio = e.NUMENVIO
		LEFT JOIN  dbo.vwTransportistas t on t.codigo = g.PROVLOGI
		LEFT JOIN  Envios de on de.Numero = e.NUMENVIO
		LEFT JOIN  dbo.vwTransportistas tDestino on tDestino.CODIGO = de.TransportistaDestinoCodigo
		LEFT JOIN  Vehiculos v on v.Id = de.VehiculoId
		LEFT JOIN  Parametricos tipoVehiculo on tipoVehiculo.Id  = v.TipoId
		LEFT JOIN  Parametricos deEstado on deEstado.id = de.EstadoId
		LEFT JOIN  Choferes co on co.Id = de.ChoferId
	WHERE   
		 (( @desde is null) OR ( CAST(e.FECINGRE As Date) between @desde and @hasta))
		and (( @numero =0 ) or ( e.NUMENVIO = @numero))
		and (( @guiaNumero =0 ) or ( g.NumeroGuia = @guiaNumero))
		and (( @estado is null or @estado = 0 ) or ( de.EstadoId = @estado))
	
	
	GROUP BY e.NUMENVIO, t.codigo, t.nombre, co.Id, co.ApellidoNombre, 
		     v.id, v.patente, v.Descripcion, tipoVehiculo.id, tipoVehiculo.Descripcion,
			 deEstado.Descripcion, deEstado.Color, deEstado.id, 
			 de.Id, de.Observaciones, de.FechaInicio, de.FechaTurno, de.FechaUltimoMov, 
			 de.TransportistaDestinoCodigo, 
			 tDestino.NOMBRE
	ORDER BY  e.NUMENVIO desc, t.nombre
	OFFSET @skip ROWS FETCH NEXT @pageSize ROWS ONLY

GO
/****** Object:  StoredProcedure [dbo].[GetArticulosPorGuia]    Script Date: 14/04/2025 14:51:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetArticulosPorGuia]
@numeroGuia BIGINT =0,
@pageSize int = 10,
@skip int = 0
AS
BEGIN

	
	SELECT cabeceraComprobantes.NUMERO AS NumeroComprobante, 
		cabeceraComprobantes.AFILIADO AS CabeceraComprobantesAfiliado, 
		detalleComprobante.codigo AS ArticuloCodigo, articulo.detalle AS ArticuloDescripcion, detalleComprobante.CANTIDAD AS CantidadSolicitada, 
		RecordsTotal = COUNT(*) OVER(), --para el paginador
		ROW_NUMBER() OVER(ORDER BY cabeceraComprobantes.numguia ASC) AS Id -- esto es porque lo necesita el Entity Framework
	FROM [Presea_Mas_Migracion].[dbo].[CTACTE] as cabeceraComprobantes 
		JOIN [Presea_Mas_Migracion].[dbo].[GUIA] AS guia ON 
			cabeceraComprobantes.numguia = guia.NUMGUIA
		JOIN [Presea_Mas_Migracion].[dbo].[MOVIMIEN] AS detalleComprobante ON
			cabeceraComprobantes.EMPRESA = detalleComprobante.EMPRESA AND  
			cabeceraComprobantes.FORMULARIO = detalleComprobante.FORMULARIO AND  
			cabeceraComprobantes.NUMERO = detalleComprobante.NNUMERO
		JOIN [Presea_MAS_Migracion].[dbo].[STOCK] AS articulo ON
			detalleComprobante.CODIGO = articulo.CODIGO
		JOIN [Presea_Mas_Migracion].[dbo].[PROVLOGI] transportista ON
			guia.PROVLOGI = transportista.CODIGO

	WHERE
		cabeceraComprobantes.formulario LIKE 'Remito%' AND
		cabeceraComprobantes.NUMGUIA = @numeroGuia 

		order by cabeceraComprobantes.NUMERO
	END
GO
/****** Object:  StoredProcedure [dbo].[GuiasGet]    Script Date: 14/04/2025 14:51:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GuiasGet] 
    @numeroEnvio BIGINT = 0, 
    @numeroGuia BIGINT = 0, 
    @pageSize INT = 10,
    @skip INT = 0
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        g.NumeroGuia AS Numero, 
        g.FECHAHORA AS Fecha, 	
        cliente.Codigo AS ClienteCodigo,  
        CASE ISNULL(cliente.N_Fantasia,'') 
            WHEN '' THEN cliente.Nombre 
            ELSE cliente.N_Fantasia 
        END AS ClienteNombre, 
        cliente.DIRECCION AS ClienteDireccion, 
        cliente.TELEFONO AS ClienteTelefono,
        datosAdicionalCliente.DOMI_LAT AS DestinoLatitud, 
        datosAdicionalCliente.DOMI_LON AS DestinoLongitud, 
        guiaEstado.Descripcion AS Estado, 
        guiaEstado.Color AS EstadoColor, 
        guiaEstado.Id AS EstadoId, 
        eg.EnvioId,
        COUNT(ctacte.NUMGUIA) AS CantidadComprobantes,
		RecordsTotal = COUNT(*) OVER(), --para el paginador
        ROW_NUMBER() OVER(ORDER BY g.NumeroGuia ASC) AS Id
    FROM 
        dbo.vwGuias g
        LEFT JOIN Presea_Mas_Migracion.[dbo].[CLIENTES] AS cliente ON g.ClienteCodigo = cliente.CODIGO 
        LEFT JOIN Presea_Mas_Migracion.[dbo].[CLIENADI] AS datosAdicionalCliente ON cliente.CODIGO = datosAdicionalCliente.CODIGO
        LEFT JOIN EnviosGuias eg ON eg.Numero = g.NumeroGuia
        LEFT JOIN Parametricos guiaEstado ON guiaEstado.Id = eg.EstadoId
        LEFT JOIN [Presea_Mas_Migracion].[dbo].[CTACTE] AS ctacte ON ctacte.NUMGUIA = g.NumeroGuia
    WHERE 
        (@numeroEnvio = 0 OR g.NumeroEnvio = @numeroEnvio)
        AND (@numeroGuia = 0 OR g.NumeroGuia = @numeroGuia)
    GROUP BY 
        g.NumeroGuia, g.FECHAHORA, 
        cliente.Codigo, cliente.Nombre, cliente.N_Fantasia, cliente.DIRECCION, cliente.TELEFONO, 
        datosAdicionalCliente.DOMI_LAT, datosAdicionalCliente.DOMI_LON, guiaEstado.Id, guiaEstado.Descripcion, guiaEstado.color, eg.envioId
    ORDER BY  
        g.FECHAHORA, g.NumeroGuia 
    OFFSET @skip ROWS FETCH NEXT @pageSize ROWS ONLY;
END
GO
